.card-img-top {
    height: 356;
    max-width: 350;
}

.float-right {
    float: right;
    margin: 0 0 10px 10px;
}
.float-left {
    float: right;
    margin: 10px 10px 0 0;
}

.margin-right-10 {
     margin: 0 0 0 10px;
}

.bottom {
    /* position: absolute; */   
  bottom: 0px;
   /* margin: auto;  */
  /* width: 40; */
}

.center-text {
    text-align: center;
}

html *
{
   font-family: Roboto, Arial, Helvetica, sans-serif !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}